<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Share my Pool</title>
  </head>
  <body>
    <h1>Share my Pool</h1>
  </body>

<h2>Login</h2>
<form class="login" method="post">
  <label>username:<input type="text" name="username" placeholder="Jose"></label><br>
  <label>email:<input type="text" name="email" placeholder="jose@sharepool.com"></label><br>
  <label>password:<input type="password" name="password" placeholder="password"></label><br>
</form>
<a id="signup" href="/signup">signup</a>


</html>
