<h2>Log In</h2>
<form class="login" method="post">
  <label>Username: <input type="text" name="username" placeholder="JohnDoe"></label><br>
  <label>Password: <input type="password" name="password" placeholder="password"></label><br>
  <input type="submit" id="login" value="Log In">
</form>
<a id="signup" href="/signup">Sign Up</a>
