<h2>SignUp</h2>
<form class="signup" method="post">
  <p>username:<input type="text" name="username" placeholder="Jose"></p>
  <p>email:<input type="text" name="email" placeholder="jose@sharepool.com"></p>
  <p>password:<input type="password" name="password" placeholder="password"></p>
</form>
