<h2>Sign Up</h2>
<form class="signup" method="post">
  <label>Username: <input type="text" name="username" placeholder="JohnDoe"></label><br>
  <label>Password: <input type="password" name="password" placeholder="password"></label><br>
  <label>E-mail: <input type="text" name="email" placeholder="johndoe@sharepool.com"></label><br>
  <label>Password: <input type="password" name="password" placeholder="password"></label><br>
  <input type="submit" id="signup" value="Sign Up">
</form>
