<div class="poolPage">
  <h2>Rental Dates</h2>
  <h3>Choose Day</h3>
  <form action="/addRental" class="addRental" method="POST">
    Day: <br><input type="date" id="start-date" value="Start Date">
    </br></br>
    How many will go? <br> <input type="text" name="invites" placeholder="1">
    </br></br>
    <form id="confirmRent" action="/confirmed" method="GET">
      <button type="submit" name="confirm">CONFIRM</button>
    </form>
  </form>
</div>
</div>
<div id="map"></div>
</div>
