<div class="poolPage">
  <div class="infoPool">
    <h2>Add Pool</h2>
    <form action="/addPool" class="addpool" method="post">
      Title: <input type="text" name="poolAdName" placeholder="I'm renting my awesome pool!"> <br>
      Nº Guests: <input type="text" name="numberOfGuests" placeholder="1"> <br>
      Address: <input type="text" name="address" id="address" placeholder="False Street, Nº 123">
      <input type="button" id='geocoder' value='Locate'>
      Start Date:<input type="date" name="startDate" id="poolStartDate">
      End Date:<input type="date" name="endDate" id="poolEndDate">
      Price:<input type="number" name="price" value="price" id="price">
      <br><br>
      <div class="rulesPool">
        <h3>Rules:</h3>
        <div class="hours">
          Open Hour<input type="text" name="timepicker" class="time_element" id="openHours"/>
          Close Hour<input type="text" name="timepicker" class="time_element" id="closeHours"/>

        </div>
        <div class="rule">
          Children allowed? <input type="checkbox" name="children" value="children">
        </div>
        <div class="rule">
          Pets allowed? <input type="checkbox" name="petFriendly" value="petFriendly">
        </div>
        <div class="rule">
          Smoking allowed? <input type="checkbox" name="smoke" value="smoke">
        </div>
        <input type="hidden" id="lat" name="latitude" placeholder="Latitude">
        <input type="hidden" id="lon" name="longitude" placeholder="Longitude">
        <input type="submit" id="submit" value="Submit">
    </form>
    </div>
  </div>
  <div id="map"></div>
  <script type="text/javascript" src="/javascripts/new.js"></script>
