    <h2>Rental Dates</h2>
    <form action="/addRental" class="addRental" method="post">
      Start Date<input type="date" id="start-date" value="Start Date">
      End Date <input type="date" id="end-date" value="End Date">
      Price <input type="text" id="price" value="price" placeholder="$0,00"
    </form>
    </div>
  </div>
  <div id="map"></div>
