<h1>Choose Your Pool</h1>
<ul>
  <% pool.forEach((pool) => { %>
    <li>
      <div class="adPool">
      <%= pool.name %> - $<%= pool.price %>
      <a href="/poolDetails/?id=<%= pool._id %>">View Details</a>
      </div>
    </li>
  <%  }) %>
</ul>
