<div class="poolPage">
  <h1>Share-my-pool!</h1>
  <h2>A platform for sharing and renting swimming pools.</br>Enjoy your summer!</h2>
  Already have an account? <a href="login">Login</a> <br>
  New to the site? <a href="signup">Signup</a>
</div>
