<div class="poolPage">
  <h2 class="site-title">Take a look at some of our most awesome pools! <i class="fa fa-star" aria-hidden="true"></i></h2>
  <form action="/addPool" method="GET">
    <button class="go-to-add" type="submit">Add Pool</button>
  <div class="slideshow-container">
    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="/images/alberca1.jpg">
      <div class="text">Madrid</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="/images/alberca2.jpg">
      <div class="text">Barcelona</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="/images/alberca3.jpg">
      <div class="text">Miami</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="/images/alberca4.jpg">
      <div class="text">Paris</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
  </div>

  <script type="text/javascript" src="/javascripts/carrousel.js"></script>
</div>
